.main__div--table-name{
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}

.main__div--table-subcontainer{
    width: 100%;
    height: 596px;
    border-radius: 4px;
    background-color: white;
}

.main__div--table-func{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 12px 20px 12px 16px;
    display: flex;
    justify-content: space-between;
}

.main__div--searchbox{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 280px;
    height: 36px;
    border: 1px solid #E0E1E4;
    border-radius: 4px;
    justify-content: space-between;
    padding: 6px 8px 6px 8px;
}

.main__div--btnbox{
    height: 36px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.main__div--table-content{
    width: 100%;
    height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}

.main__div--table-page{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 56px;
    padding: 20px 16px 20px 16px;
    justify-content: space-between;
    background-color: #F5F5F5;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
}

.div__div--subcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div--hidden{
    visibility: hidden;
}

.main__div--numberbox{
    box-sizing: border-box;
    width: 76px;
    height: 36px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 8px 8px 8px 12px;
    margin: 0 16px 0 63px;
}

.div--combobox-trigger{
    /* box-sizing: border-box; */
    display: flex;
    width: 100%;
    cursor: pointer;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 12px; */
    background-color: #FFFFFF;
    height: 36px;
    border-radius:  3px;
    border: 1px solid #E6E6E6;
}

.div--combobox-trigger:hover{
    background-color: #F6F6F6;
    border: 1px solid #E6E6E6;
}
.div--combobox-trigger:focus{
    background-color: #fff;
    border: 1px solid #5DC748;
}
.div--combobox-trigger:focus-within{
    background-color: #fff;
    border: 1px solid #5DC748;
}
.div--combobox-trigger:focus+.div--hidden
,.div--combobox-trigger:focus-within+.div--hidden
{
    visibility: visible;
}

.div--combobox-options{
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    position: absolute;
    top: 38px;
    left: 0px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 4px 16px rgba(23,27,42,0.24);
}

.form__div--header{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
.form__div--width-50{
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.form__div--section{
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__div--section-padding{
    box-sizing: border-box;
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;
}

.form__div--radio-box{
    height: 36px;
    font-family: 'Roboto-regular';
}

.form__div--btn-box{
    box-sizing: border-box;
    height: 60px;
    align-items: center;
    padding: 0 24px; 
    background-color: rgb(243, 240, 240);
}

.div--background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 212, 0.7);
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* visibility: hidden */
}

.popup{
    box-sizing: border-box;
    width: 416px;
    height: 173px;
    background-color: white;
    border-radius: 4px;
    font-family: 'Roboto';
    padding: 24px;
    box-shadow: 0px 4px 16px rgba(23,27,42,0.078);

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popup__div--btn-box{
    display: flex;
    gap: 8px;
    width: auto;
    height: auto;
    justify-content: flex-end;
}

.datepicker__div--container{
    font-family: 'Roboto-regular';
    font-size: 14px;
    font-weight: 400;

}

.datepicker__div--content{
    border: 4px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.051);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Roboto-medium';
    font-size: 14px;
    font-weight: 500;
}

.datepicker__div--header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.datepicker__div--sub-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 24px 24px 12px 24px;
}
