@import url(../variables/variables.css);
.header__img--logo{
    width: var(--logo-widht);
}
.header__img--avatar{
    width: 36px;
    height: 36px;
}
.span__img--icon{
    width: 24px;
    height: 24px;
    margin-right: 12px;
    color: #869AB8;
}
.span__img--icon-last{
    width: 24px;
    height: 24px;
    margin-right: 16px;
    color: #869AB8;
}

.btn__img--iconbtn-12{
    width: 12px;
    height: 12px;
}

.btn__img--iconbtn{
    width: 16px;
    height: 16px;
}

.btn__img--iconbtn-18{
    width: 18px;
    height: 18px;
}

.btn__img--iconbtn-24{
    width: 24px;
    height: 24px;
}