@import url(../variables/variables.css);
.header__select--combobox{
    border: none;
    justify-self:left;
    font-size: 16px;
    font-family: inherit;
    background-color: inherit;
    font-weight: bold;
    cursor: pointer;
    height: 36px;
    padding: 9px 12px;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow for Webkit browsers */
    -moz-appearance: none; /* Remove default arrow for Firefox */
    border-top-left-radius: 3px ;
    border-bottom-left-radius: 3px ;
    cursor: pointer;
}
.header__select--combobox:focus{
    outline: none;
}
