@import url(../variables/variables.css);

.header__span--username{
    font-size: 14px;
    margin: 0 22px;
}
.nav__span--menu-item{
    box-sizing: border-box;
    width: 176px;
    height: 44px;
    font-size: 14;
    font-family: 'Roboto';
    color: #869AB8;
    font-weight:400;
    font-style: normal;
    background-color: #041434;
    display: flex;
    align-items: center;
    padding: 0 0 0 12px;
    border-radius: 4px;
    cursor: pointer;
}
.nav__span--menu-item:hover{
    background-color: #213253;
}

.nav__span--menu-item-last{
    grid-row: 10;
    align-self: flex-end;
    border-top: 1px solid #213553;
    padding: 0 0 0 24px;
    border-radius: 0;
    width: 100%;
}

.div__span--table-name{
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #1F1F20;
}

.div__span--current-value{
    margin-left: 12px;
    font-weight: 500;
}

.div__span--combobox-option{
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}
.div__span--combobox-option:hover{
    background-color: var(--hover-color);
}

.span--must-have{
    color: red;
}

.form__span--title{
    font-family: 'Roboto-bold';
    font-size: 24px;
    font-weight: 700;
}

.popup__span--title{
    font-family: 'Roboto-bold';
    font-size: 20px;
    font-weight: 700;
}

.popup__span--msg{
    font-family: 'Roboto-regular';
    font-size: 14px;
    font-weight: 400;
}