:root{
    /* size variable */
    --nav-fullsize: 200px;
    --nav-smallsize: 73px;

    /* color variable */
    --primary-color: #50B83C;
    --hover-color: #E7F5EC;
    --active-color: #409330;
    --sidebar-color: #041434;
    --main-color: #E0E0E0;
    /* logo variable */
    --logo-widht: 144px;
    --logo-height: 80%;
    

}